name: DevOps Assignment CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Python dependencies
      run: pip install -r requirements.txt

    - name: Lint Python code
      run: flake8 scripts/app.py --max-line-length=120

    - name: Run Tests
      run: pytest -q

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: terraform init -backend=false

    - name: Terraform Validate
      working-directory: ./terraform
      run: terraform validate
